html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}


.left-section {
    background-color: #2e2936d3;
    width: 30%;
    background-image: url('images/bg1.webp');
}

.right-section {
    background-color: #484054d3;
    width: 70%;
    position: relative;
    background-image: url('images/bg2.webp');
}


.frosted-overlay-left, .frosted-overlay-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.frosted-overlay-left {
  background-color: rgba(15, 13, 19, 0.7);
  backdrop-filter: blur(10px);
}

.frosted-overlay-right {
  background-color: rgba(29, 22, 44, 0.7);
  backdrop-filter: blur(20px);
}

.container {
    display: flex;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.output {
  z-index: 1; 
  align-items: center;
  justify-content: center;
  width: 50%;
  display: flex;
}
  
.left-section, .right-section {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  color: white;
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.download-button {
    position: absolute;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%);
}

.loading-bar {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.download-button {
  background-color: #e5c2fb;
  border-radius: 100px;
  box-shadow: rgba(115, 44, 187, 0.2) 0 -25px 18px -14px inset,rgba(115, 44, 187, 0.2) 0 1px 2px,rgba(115, 44, 187, 0.2) 0 2px 4px,rgba(115, 44, 187, 0.2) 0 4px 8px,rgba(115, 44, 187, 0.2) 0 8px 16px,rgba(115, 44, 187, 0.2) 0 16px 32px;
  color: rgb(83, 0, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.download-button:hover {
  box-shadow: rgba(185, 44, 187, 0.366) 0 -25px 18px -14px inset,rgba(185, 44, 187, 0.366) 0 1px 2px,rgba(185, 44, 187, 0.366) 0 2px 4px,rgba(185, 44, 187, 0.366) 0 4px 8px,rgba(185, 44, 187, 0.366) 0 8px 16px,rgba(185, 44, 187, 0.366) 0 16px 32px;
}

.sep {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background-color: #2a2b30;
}



.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #f8c6ff,  
    #ff77ff,   
    #ff00ff,  
    #b700ff,   
    #7900ff,    
    #9400d3,   
    #8a2be2,   
    #a450ff,  
    #f8c6ff  
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.lin-grad, canvas {
  position: absolute;
}


.lin-grad {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
      45deg,
      #f8c6ff,  
      #ff77ff,   
      #ff00ff,  
      #b700ff,   
      #7900ff,    
      #9400d3,   
      #8a2be2,   
      #a450ff,  
      #f8c6ff
  );
  animation: glowing-button-85 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
  z-index: 2;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    z-index: 1;
}


.form-item label {
    display: inline-block; 
    margin-left: 5px;
}

